body {
    font-family: Arial, Verdana, sans-serif;
    background-color: lightgreen;
}

figure#fig1 {
    float: right;
}

td,th{
    border: 1px solid black;
}

ul>li {
    color:blue;
}

footer {
    background-color: blue;
    border: 1px dotted red;
    border-radius: 1em;
    margin: 100px;
    margin-right:1000px;
    margin-left: 0;
    margin-bottom: 0;
}

p.contact {
    color: white;
}