p.first {
    font-size: 8em;
    margin-left: 650px;
    margin-bottom: 10px;
}

img {
    border: 1px solid lightblue;
    margin: 700px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0em;
}

p.second {
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 690px;
    margin-top:10px;
    margin-bottom: 100px;
}

p.third {
    font-size: 3em;
    background-color: lightblue;
    margin-left: 700px;
    margin-right: 450px;
    padding-left: 1em;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 0em;


}
p.fourth {
    font-size: 3em;
    background-color: blanchedalmond;
    margin-left: 700px;
    margin-right: 450px;
    border-bottom: 1px solid black;
    margin-top: 0em;
    padding-left: 1em;
    margin-bottom: 0em;
    padding-bottom: 0;


}

p.fifth {
    font-size: 3em;
    background-color: #a88a8a;
    margin-left: 700px;
    margin-right: 450px;
    border-bottom: 1px solid black;
    margin-top: 0em;
    padding-left: 1em;

}

span {
    font-style: italic;
    font-size: 0.5em;
    margin-left: 700px;
    margin-right: 50px;

}