body {
    font-family:Arial, Verdana, sans-serif;
}

#compare1 {
    background-color: red;
    text-decoration-color: white;
}
th.compare {
    color: white;
}
table.compare, caption.compare {
    border-style: solid;
    border-width: 1px;
}
tr.compare2{
    background-color: lightgray;

}
th.border, td.border {
    border-left: 1px dotted black;
    margin: 0;
}