body {
    font-family: Arial, Verdana, sans-serif;
    background-color: green;
}
p {
    background-color: lightblue;
    text-indent: 50%;
}
h1, h2 {
    color: blue;
    font-weight: bold;
}
li {
    background-color: red;
    color: darkgrey;
}

h1{
    font-size: 4.0em;
}
ul, ol {
    font-size: 0.8em;
    border-style: solid;
    text-indent: 50%;
}
figcaption{
    font-size: 0.5em;
    font-weight: bold;
}
p.copyright_notice{
    font-size: 0.8em;
}
#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}
#code1{
    font-size: 0.8em;
    color: white;
    background-color: blue;
}
p::first-letter {
    font-size: 8em;
}

p::first-line {
    font-weight: bold;
}